3-tier-application/ingress-gateway/ingress-gateway/lab1-ingress-routing  
3-tier-application/ingress-gateway/ingress-gatewaylab2-ingress-https  
3-tier-application/ingress-gateway/ingress-gatewaylab3-gateway-routing  
3-tier-application/ingress-gateway/ingress-gatewaylab4-gateway-https 